h1{
    color : blue;
    text-align: center;
}

h3{
    color : red;
    text-align: center;
    background-color: yellow;
    width: auto;
    font-family: sans-serif;
    font-size: 18;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;

    text-align: center;
}
th{
    background-color: lightblue;
}
th,td{
    border: 1px solid black;
}

#secondHead
{
    text-decoration: underline;
}

.name
{
    font-weight: bold;
}
